* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FF3131;
    --cor-primaria-dark: #A40E0E;
    --cor-secundaria: #FFDE59;
    --cor-secundaria-dark: #FFBD59;
    --cor-gray: #585853;
    --cor-white: #FFFFFF;
    --cor-black: #181817;
}

body {
    color: #181817;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}


.container-menu {
    max-width: 1140px;
    width: auto;
    margin: 0 auto;
    padding: 0 auto; 
}

.container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0; 
}

.topo {
    background-color: #A40E0E;
    height: 92px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: solid 2px #FFBD59;
}

.topo img {
    width: 157px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    transition: 0.5s;
}

.topo img:hover {
    transform: scale(1.08);
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.opcoes {
    width: 60%;
}

.opcoes menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.opcoes menu li a {
    text-decoration: none;
    color: #FFBD59;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.opcoes menu li a:hover {
    background-color: #FFBD59;
    color: #A40E0E;
}

.boas-vindas {
    background-image: url(./imagens_historia/imagem_boas_vindas.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left ;
    background-color: #FFFFFF;
    width: 100%;
    height: 645px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2%;
    padding-left: 55%;
    position: relative;
}


.boas-vindas .boas-vindas-texto {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.boas-vindas h2 {
    font-size: 64px;
    font-weight: 550;
    font-family: "Risque", serif;
    color: #181817;
    margin-bottom: 10px;
    margin-top: 30%;
}

.boas-vindas .boas-vindas-texto p {
    font-size: 20px;
    line-height: 1.5;
    color: #181817;
    margin-top: 0;
}

#black{
    margin-right: 20%;
}


.boas-vindas #red {
    font-weight: bold;
    font-size: 64px;
    color: #A40E0E;
    margin-right: 9%;
}


.historia {
    width: 100%;
    background-color: #6f0909;
    border-bottom: solid 8px #FF3131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.historia .texto {
    font-size: 27px;
    color: #FFBD59;
    font-weight: bold;
    font-family: 'Roboto', serif;
    max-width: 100%;
    margin-bottom: 30px;
}

.historia img {
    width: auto;
    height: 657px;
    margin: 20px 0;
}

.inicio,
.meio,
.fim {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.inicio img,
.meio img,
.fim img {
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease;
}

     
.icon {
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: translateY(-10px);
}

.rodape {
    background-image: url(./imagens/iconpizzafundorodape.png), url(./imagens/logo2.png);
    background-position: left 20px, right;
    background-repeat: no-repeat;
    background-color: #181817;
    width: 100%;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.rodape .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    max-width: 500px;
}

.rodape .container h4, .container p {
    color: #FFFFFF;
    margin: 5px 0;
    text-align: center;
}

.rodape .container h4 {
    color: #FFBD59;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', serif;
}

.redes-sociais-btn {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}

.redes-sociais-btn img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.redes-sociais-btn img:hover {
    transform: scale(1.1);
}

.rodape .copyright {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}
